.BODY {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#MAIN-MENU {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.LOGO-PHOTO {

    display:center;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:px;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.GRILLO-LOGO {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#GRILLO-PHOTO {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.ABOUT-GENERAL-AND-EMERGENCY-MEDICINE {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.ABOUT {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.GENERAL-MEDICINE {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#TREATED CONDITIONS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.EMERGENCY-MEDICINE {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#HOSPITAL-AFFILIATIONS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.PLANS-ACCEPTED-OFFICE-HOURS-MAP {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#PLANS-ACCEPTED {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
.OFFICE-HOURS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#OFFICE-HOURS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#SSS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#MCS {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#MMM {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#MEDICARE {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#MAPFRE {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#HUMANA {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
#FIRST-MEDICAL {
    display:;
    background-color:;
    font-family:;
    font-size:;
    color:;
    text-align:;
    margin: 00px 00px 00px 00px;
    line-height:;
    height:;
    width:;
    border:;
    padding:;
    position:;
    top:;
    right:;
    bottom:;
    left:;
}
