.BODY {
    background-color: antiquewhite;
    width: 900PX;
}
h4 {
    font-family: sans-serif;
    margin-left: 0px;
    background-color: goldenrod;
    width: auto;
    height: 18PX;
}
#MAIN-MENU {
    color: black;
    width: 900PX;
    font-family: sans-serif;
}
    #MAIN-MENU li {
        display: block;
        height: 18PX;
        width: 115px;
        float: left;
        font-size: 12px;
        color: black;
        text-align: center;
        border: 1px solid #000;
    }
    #MAIN-MENU a {
        display: block;
        padding: 3px;
        color: black;
    }

#MAIN-MENU a:hover {
            background-color: antiquewhite;
            color: #fff;
        }
.LOGO-PHOTO {
    margin-left: 25px;
    display: block;
    width: 900px;
    color: black;
    font-family: sans-serif;
}
.GRILLO-LOGO {
    border: 10px solid darkgoldenrod;
    height: 400px;
    width: 400px;
}
#GRILLO-PHOTO {
    border: 10px solid darkgoldenrod;
    position: center;
    height: 400px;
    width: 400px;
}
.ABOUT-GENERAL-AND-EMERGENCY-MEDICINE {
    border: 1px solid #000;
    font-family: sans-serif;
    width: 600px;
}
.ABOUT {
    width: 600px
}
.GENERAL-MEDICINE {
    width: 600px
}
.TREATED CONDITIONS {
    border: 1px solid #000;
    width: 600px;
}
.EMERGENCY-MEDICINE {
    width: 600px
}
#HOSPITAL-AFFILIATIONS {
    width: 600px
}
.PLANS-ACCEPTED-OFFICE-HOURS-MAP {
    position: absolute;
    left: 625px;
    top: 503px;
    border: 1px solid #000;
    font-family: sans-serif;
    width: 250px;
}
#PLANS-ACCEPTED {
    display: left;
    width: 250px;
    font-family: sans-serif;
}
.OFFICE-HOURS {
    margin-left: 90px;
    height: 50px;
    width: 75px;
}
#OFFICE-HOURS {
    display: left;
    width: 250px;
    font-family: sans-serif;
    font-size: 12px
}
#SSS {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 75px;
}
#MCS {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 75px;
}
#MMM {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 75px;
}
#MEDICARE {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 112.5px;
}
#MAPFRE {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 112.5px;
}
#HUMANA {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 112.5px;
}
#FIRST-MEDICAL {
    display: left;
    font-family: sans-serif;
    height: 75px;
    width: 112.5px;
}
